/* layout/header.css */

header {
  position: relative;
  background: var(--headers-bg);
  width: 100%;
  color: $neutral50;

  .code-block pre {
    background-color: rgba(255, 255, 255, 0.1);

    code {
      color: white;
    }
  }

  .edit-section {
    position: absolute;
    right: 6px;
    top: 5px;
  }

  .install-block {
    margin-left: 20px;
    margin-right: auto;

    pre {
      margin: 0;
      display: block;
      white-space: nowrap;
      padding: 6px;
      border: 1px solid rgba(0, 10, 0, 0.01);
    }

    .token.string {
      color: $green400;
    }

    pre[class*='language-'].line-numbers {
      padding-left: 25px;
    }

    .install-block code {
      top: 3px;
      left: -24px;
      line-height: 19px;
    }
  }
}

header {
  .version-block,
  .links a {
    background-color: transparent;
    padding: 6px 0;
    font-weight: 600;
    cursor: default;
    color: $green500;

    small {
      color: color-mod(black alpha(60%));
    }

    span,
    small {
      font-family: var(--code-font);
    }
  }

  .version-block,
  .install-block pre,
  .links a {
    transition: all 0.2s ease-out;
  }

  .links {
    left: 100%;
    top: 0;
    bottom: auto;
    white-space: nowrap;
    margin-left: auto;

    [class*='-link']:not(.fas) {
      white-space: pre;
      cursor: pointer;
      margin-left: 10px;
      display: inline-block;
      line-height: 32px;
      padding: 0 11px 0 10px;
      background-color: rgba(255, 255, 255, 0.1);
      color: white;
    }

    .fab,
    .fas {
      margin-right: 10px;
    }

    .github-link i {
      font-size: 18px;
      top: 2px;
      position: relative;
    }

    .npm-link i {
      font-size: 15px;
    }
  }
}

.Component > header,
.guide-content > header {
  padding-left: var(--content-pad-left);
  padding-right: var(--content-pad-right);
  border-bottom: 1px solid $neutral200;
  height: calc(var(--nav-top-position));

  .header-inner {
    max-width: 100%;
    flex: 1;
    display: flex;
    position: relative;
    height: inherit;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 22px;

    h1 {
      vertical-align: baseline;
      line-height: 34px;
    }
  }
}
