/* layout/header.css */

header {
  position: relative;
  background: var(--headers-bg);
  width: 100%;
  max-width: 100vw;
  color: $neutral50;

  @media screen and (max-width: 980px) {
    & {
      position: fixed;
      z-index: 200;
    }
  }

  .code-block pre {
    background-color: rgba(255, 255, 255, 0.1);

    code {
      color: white;
    }
  }

  .edit-section {
    position: absolute;
    right: 6px;
    top: 5px;
  }

  .install-block {
    margin-left: 20px;
    margin-right: auto;

    pre {
      margin: 0;
      display: block;
      white-space: nowrap;
      padding: 6px;
      border: 1px solid rgba(0, 10, 0, 0.01);
    }

    .token.string {
      color: $green400;
    }

    pre[class*='language-'].line-numbers {
      padding-left: 25px;
    }

    .install-block code {
      top: 3px;
      left: -24px;
      line-height: 19px;
    }
  }
}

header {
  .version-block,
  .links a {
    background-color: transparent;
    padding: 6px 0;
    font-weight: 600;
    cursor: default;
    color: $green500;

    small {
      color: color-mod(black alpha(60%));
    }

    span,
    small {
      font-family: var(--code-font);
    }
  }

  .version-block,
  .install-block pre,
  .links a {
    transition: all 0.2s ease-out;
  }

  .links {
    left: 100%;
    top: 0;
    bottom: auto;
    white-space: nowrap;
    margin-left: auto;

    [class*='-link']:not(.fas) {
      white-space: pre;
      cursor: pointer;
      margin-left: 10px;
      display: inline-block;
      line-height: 32px;
      padding: 0 11px 0 10px;
      background-color: rgba(255, 255, 255, 0.1);
      color: white;
    }

    .fab,
    .fas {
      margin-right: 10px;
    }

    .github-link i {
      font-size: 18px;
      top: 2px;
      position: relative;
    }

    .npm-link i {
      font-size: 15px;
    }
  }
}

.Component > header,
.guide-content > header {
  padding-left: var(--content-pad-left);
  padding-right: var(--content-pad-right);
  height: calc(var(--nav-top-position));

  @media screen and (max-width: 412px) {
    & {
      padding-left: var(--nav-left);
      position: static;
      margin-top: calc(var(--nav-top-position));
      height: auto;
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 980px) and (min-width: 412px) {
    & {
      padding-left: calc(var(--sidebar-width) + var(--nav-left));
    }
  }

  @media screen and (min-width: 412px) {
    &::before {
      background: var(--headers-bg);
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 0;
      height: calc(var(--nav-top-position));
    }
  }

  @media screen and (min-width: 980px) {
    .header-inner {
      max-width: calc(
        99rem - var(--content-pad-left) - var(--content-pad-right)
      );
    }
  }

  .header-inner {
    flex: 1;
    display: flex;
    position: relative;
    height: inherit;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 22px;

    @media screen and (max-width: 412px) {
      & {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        .install-block,
        .links {
          margin-top: 10px;
          margin-left: 0;
        }

        .github-link {
          margin-left: 0;
        }

        h1 {
          margin-top: 20px;
        }
      }
    }

    h1 {
      vertical-align: baseline;
      line-height: 34px;
    }
  }
}
