/* layout/navigation */
.SideBar {
  position: var(--sidebar-position);
  user-select: none;
  top: 0;
  z-index: 5;
  width: var(--sidebar-width);
  height: 100vh;

  &::before,
  &::after {
    top: 0;
    position: absolute;
    content: '';
  }

  &::after {
    right: 0;
    width: 1px;
    height: 100%;
    background: rgba(18, 60, 83, 0.05);
  }

  &-logo,
  &-border,
  nav {
    position: absolute;
  }

  @media screen and (min-width: 412px) {
    & {
      width: var(--sidebar-width);
    }
  }

  @media screen and (max-width: 412px) {
    & {
      width: 100vw;
    }

    &-logo {
      a {
        margin-left: 0;
      }

      .hamburguer {
        position: absolute;
        right: 50px;
      }
    }

    nav {
      left: 0;
      max-width: 60vw;
    }
  }

  &-logo {
    transition: all 0.3s cubic-bezier(0.15, 1, 0.33, 1);
    display: flex;
    align-items: center;
    top: 0;
    z-index: 3;
    right: 0;
    height: var(--nav-top-position);
    margin-left: 0;
    left: 0;
    padding-left: var(--nav-left);
    border-right: 1px solid rgba(56, 56, 75, 0.15);
    background: #fff;

    &:not(.change-logo-bg) {
      background: color-mod(var(--headers-bg) lightness(11%));
    }

    & a {
      background-position: center center;
      background-size: contain;
      display: inline-block;
      position: relative;
      text-decoration: none;
      height: var(--logo-svg-height);
    }
  }

  &-static-label {
    color: color-mod(var(--secondary) blackness(70%));
    opacity: 0.7;
    line-height: 1;
    margin-top: -7px;
    margin-bottom: 7px;
  }

  &-border {
    top: calc(var(--nav-top-position) - 1px);
    right: 0;
    width: var(--nav-hr-border-width);
    height: 1px;
    background: var(--nav-hr-border-color);
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    pointer-events: none;
  }

  .Nav-border {
    margin: 15px 0;
    display: block;
    width: 100%;
    position: relative;
    top: 0;
    background: rgba(120, 134, 156, 0.16);
  }

  nav {
    transition: 0.1s cubic-bezier(0.15, 1, 0.33, 1);
    transition-property: transform, width, left;
    background: var(--sidebar-bg-color);
    border-right: 1px solid #e0e0e0;
    bottom: 0;
    right: 0;
    padding-left: 0;
    width: var(--nav-width);
    top: var(--nav-top-position);
    overflow-x: hidden;
    padding-top: 15px;
    padding-bottom: 25px;
    z-index: 1;
    -webkit-overflow-scrolling: touch;

    @media screen and (min-width: 980px) {
      border-top: 1px solid #e0e0e0;
    }

    h1 {
      margin: 0;

      a {
        padding-left: var(--nav-left);

        &.selected {
          color: var(--primary);
          font-weight: 500;
        }
      }
    }

    li a {
      font-size: 14px;
    }

    h1,
    h1 a {
      display: block;
      font-size: 14px;
      font-weight: 500;
      height: 30px;
      line-height: 30px;
      color: $gray800;
      transition: 0.4s cubic-bezier(0.15, 1, 0.33, 1);
      transition-property: color, background-color;

      &.has-icon a i {
        margin-right: 5px;
      }

      &:hover {
        color: $gray1000;
        background: $gray100;
      }
    }

    h1.active {
      a {
        color: var(--primary) !important;
        font-weight: 600;
        background-color: #00a96214;
      }
    }
  }

  @media screen and (max-width: 980px) {
    & {
      z-index: 300;
    }

    &:not(.open) {
      height: calc(var(--nav-top-position));

      nav {
        width: 0px;
        border: none;
        transform: translateX(calc(var(--sidebar-width) * -1));
      }
    }

    &::after {
      display: none;
    }
  }

  @media screen and (max-width: 980px) and (min-width: 412px) {
    &-border,
    &-logo {
      a {
        margin-left: 22px;
      }
    }
  }

  ul {
    padding-left: 0;
    overflow: hidden;

    li {
      position: relative;
      padding-left: var(--nav-left);
      overflow: hidden;

      &.active {
        background-color: #00a96214;
      }

      &.active a .fas {
        position: absolute;
        top: 9px;
        left: -22px;
      }

      &.active a,
      a.active {
        color: var(--primary) !important;
        font-weight: 500;
      }

      &:hover {
        color: $gray1000;
        background: $gray100;
      }

      a {
        position: relative;
        display: block;
        color: $gray800;
        min-height: 30px;
        line-height: 30px;
        transition: all 0.3s ease-out;
      }

      &.subsection a {
        color: $gray600;
      }
    }
  }

  .has-icon + ul li {
    padding-left: calc(var(--nav-left) + 24px);
  }
}
