.Content {
  &-wrapper {
    display: flex;
    justify-content: center;
  }

  &.Content {
    width: 100%;
    position: relative;
  }

  .sections-wrapper,
  .content > header,
  header ~ section {
    padding-left: var(--content-pad-left);
    padding-right: var(--content-pad-right);
  }

  .sections-wrapper,
  header + section {
    padding-top: 28px;
    padding-bottom: 60px;
  }
}

.Docs {
  width: 100%;
  height: 100%;
}
