/* shared/colors.css */

:root {
  --primary: $green500;
  --secondary: $green600;
  --code-color: $neutral600;
  --bg-color: #f4f4f4;
  --sidebar-bg-color: #fff;
  --nav-hr-border-color: $neutral200;
  --headers-bg: #16171b;
}
