/* shared/colors.css */

:root {
  --primary: $green500;
  --secondary: $green600;
  --code-color: $green700;
  --bg-color: #f5f7f9;
  --sidebar-bg-color: #f5f7f9;
  --nav-hr-border-color: $neutral200;
}
