/* shared/sizes.css */

/* SideBar */

:root {
  /* Content */
  --content-width: 900px;

  /* Sidebar */
  --sidebar-min-width: 280px;
  --sidebar-width: 280px;
  --sidebar-position: sticky;

  /* Nav */
  --nav-hr-border-color: rgba(120, 134, 156, 0.08);
  --nav-width: 85%;
  --nav-hr-border-width: var(--nav-width);
  --nav-top-position: calc(var(--logo-svg-height) + 40px);

  /* Logo */
  --logo-container-top: 40px;
  --logo-container-size: var(--nav-width);
  --logo-svg-height: 90px;

  /* Content */
  --content-heading-line-height: 26px;
}
