/* shared/sizes.css */

/* SideBar */

:root {
  /* Content */
  --content-width: 100%;
  --content-pad-left: calc(25% + 2rem);
  --content-pad-right: 4rem;

  /* Sidebar */
  --sidebar-width: 255px;
  --sidebar-position: fixed;

  /* Nav */
  --nav-left: 2rem;
  --nav-width: 100%;
  --nav-hr-border-width: 100%;
  --nav-top-position: calc(var(--logo-svg-height) + 35px);

  /* Logo */
  --logo-container-size: var(--nav-width);
  --logo-svg-height: 61px;

  /* Content */
  --content-heading-line-height: 26px;
}
