/* layout/header.css */

header .install-block,
header .version-block {
  bottom: 22px;
}

header .install-block {
  position: absolute;
  left: 0;
  right: auto;

  pre {
    margin: 0;
    display: block;
    white-space: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 19px;
    border-radius: 4px;
    border: 1px solid rgba(0, 10 , 0, 0.01);
  }

  .token.string {
    color: color-mod(var(--primary) alpha(95%));
  }
}

header {
  .version-block,
  .install-block .links {
    position: absolute;
  }

  .install-block {

    pre[class*="language-"].line-numbers {
      padding-left: 25px;
    }

    .line-numbers .line-numbers-rows {
      top: 3px;
      left: -24px;
      line-height: 19px;
    }
  }
}

header {
  .version-block,
  .install-block [class*="-link"]:not(.fas) {
    height: 41px;
    background-color: #f7f9f8;
    padding: 7px 20px;
    border-radius: 4px;
    font-weight: 600;
    border: 1px solid rgba(0, 10 , 0, 0.01);
    cursor: default;
    font-family: var(--code-font);
    color: color-mod(var(--primary) alpha(90%));

    small {
      color: color-mod(black alpha(60%));
    }

    span, small {
      font-size: 13px;
      font-family: var(--code-font);
    }

    &:hover {
      border: 1px solid color-mod(var(--primary) alpha(50%));
    }
  }

  .version-block {
    right: 0;
  }

  .version-block,
  .install-block pre,
  .links a {
    transition: all 0.2s ease-out;
  }

  .links {
    left: 100%;
    top: 0;
    bottom: auto;
    white-space: nowrap;

    [class*="-link"]:not(.fas) {
      color: color-mod(black alpha(50%));
      white-space: pre;
      cursor: pointer;
      margin-left: 10px;
      display: inline-block;
      background-position: 12px 14px;
      line-height: 26px;
      padding: 7px 13px;
      font-size: 13px;
    }

    .fab, .fas {
      margin-right: 10px;
    }

    .github-link i {
      font-size: 18px;
      top: 2px;
      position: relative;
    }

    .npm-link i {
      font-size: 15px;
    }
  }
}