@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:root {
  --font-text: system-ui;
  --font-weight: 400;
  --font-size: 62.5%;
  --line-height: normal;
  --code-font: Consolas, Menlo, Courier, monospace;
}

article :--heading {
  padding: 0;
  color: #0d2b3e;
}

h1 {
  font-size: 31px;
  font-weight: 400;
}

h2 {
  font-size: 24px;
  color: #0d2b3e;
  font-weight: 500;
  margin-top: 45px;
  width: 100%;
  padding-top: 10px;
  margin-bottom: 30px;
}

h3 {
  font-size: 20px;
  color: #0d2b3e;
  font-weight: 500;
}
