@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:root {
  --font-text: system-ui;
  --font-weight: 400;
  --font-size: 62.5%;
  --line-height: normal;
  --code-font: 'Source Code Pro', 'SFMono-Medium', 'SF Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Ubuntu Mono', Menlo, Courier, monospace;
}

article :--heading {
  padding: 0;
  color: #0d2b3e;
}

h1 {
  font-size: 31px;
  font-weight: 400;
}

h2 {
  font-size: 24px;
  color: #0d2b3e;
  font-weight: 500;
  width: 100%;
  padding-top: 10px;
}

h2:not(:first-child) {
  margin-top: 45px;
}

h2:not(.props-heading) {
  margin-bottom: 30px;
}

h3:not(:first-child),
h3:not(:first-child) + p {
  margin-top: 5px;
  line-height: 25px;
}

h3 {
  font-size: 20px;
  color: #0d2b3e;
  font-weight: 500;
  position: relative;

  .anchor {
    display: inline-block;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    text-decoration: none;
    border: 0 none;
    font-weight: 600;
    font-size: 26px;
    padding: 0 10px 0 5px;
    position: relative;
    line-height: 0;
    top: 2px;
    text-shadow: none;
    color: color-mod(black alpha(50%));
  }

  &:hover .anchor {
    opacity: 1;
  }
}
