/** /styles/reset.css */

@import 'resets/normalize.css';
@import 'resets/links.css';
@import 'resets/reset-spaces.css';
@import 'resets/tables.css';

*,
*::after,
*::before {
  box-sizing: border-box;
}

*::after,
*::before,
*:not(input),
*:not(code) input[type='checkbox'],
input[type='radio'] {
  outline: none;
}

*:focus {
  outline: none !important;
}

html {
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.5;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'pnum';
  font-feature-settings: 'pnum';
  color: $neutral700;
  font-variant-numeric: proportional-nums;
}

small {
  font-size: 0.875rem;
}

var,
address,
dfn,
cite {
  font-style: italic;
}

abbr {
  border-bottom: 1px #ccc dotted;
  cursor: help;
}

a,
button,
input,
select,
textarea {
  -webkit-tap-highlight-color: transparent;
}
