blockquote,
article blockquote,
section blockquote {
  position: relative;
  color: $neutral300;
  margin-top: 1em;
  padding: 8px 10px;
  font-size: small;
  border-left: 4px solid $green400;
  font-weight: 500;
  opacity: 1;
  background-color: $neutral100;

  a {
    color: var(--primary);
  }

  p {
    line-height: 22px;
  }

  p,
  p:first-child {
    color: #666;
    font-size: inherit;
    font-weight: inherit;
  }

  p:last-child {
    margin: 0;
  }

  & + blockquote {
    margin-top: -1em;
    padding-top: 0;
  }

  &:last-of-type {
    margin-bottom: 2em !important;
  }
}
