blockquote,
article blockquote,
section blockquote {
  position: relative;
  color: #697b8c;
  margin: 1em 0;
  padding: 2px 2px 2px 10px;
  font-size: small;
  border-left: 4px solid #ebedf0;
  font-weight: 500;
  opacity: 0.75;

  a {
    color: var(--primary);
  }

  p,
  p:first-child {
    color: #666;
    font-size: inherit;
    font-weight: inherit;
  }

  p:last-child {
    margin: 0;
  }

  & + blockquote {
    margin-top: -1em;
  }

  &:last-of-type {
    margin-bottom: 2em !important;
  }
}