*:not(.row) button:not(.button) {
  padding: 6px 12px;
  border: 1px solid $green500;
  background-color: $green500;
  color: white;
  font-weight: 600;
}

.row div:not(.range) button:not(.button),
.row ~ h1,
.row ~ h2,
.row ~ h3,
.row ~ h4,
.row ~ h5,
.row ~ h6 {
  clear: both;
}

.row ~ button:not(.button) {
  position: relative;
  vertical-align: top;
  background-color: #ffffff;
  color: var(--primary);
  cursor: pointer !important;
  -webkit-box-pack: center;
  justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid var(--primary);
  box-shadow: none;
  display: inline-block;
  height: 2.25em;
  line-height: 1.5;
  font-weight: 500;

  &:hover {
    background-color: #f7f7f7;
  }
}
