.Content article.content section {
  li + li {
    margin-top: 0.25em;
  }

  p,
  dl,
  ol,
  ul,
  blockquote,
  pre,
  table {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  sup,
  sub {
    font-size: 75%;
  }
}

.sections-wrapper section:last-child,
.Component section:last-child {
  padding-bottom: 100px;
}
