.props-heading {
  font-size: 13px !important;
  color: $neutral900;
  font-weight: 500;
  background-color: #fff;
  display: inline-block;
  clear: both;
  padding: 10px 8px !important;
  font-family: var(--code-font);
  border-bottom: 1px solid #3535351a;
  width: 100%;
  text-indent: 3px;
  cursor: default;
  line-height: 20px;
  margin-top: 1.5rem;

  + table,
  + .table-wrapper table {
    margin-top: 0;
  }

  &,
  table,
  .table-wrapper {
    transition: all 0.3s ease-out;
  }

  .attr-name {
    color: var(--primary);
  }
}

#par-metros + .props-heading {
  margin-top: 0 !important;
}

.code-block.code-block-container + .props-heading {
  margin-top: 25px;
}

li {
  p:first-child {
    margin-bottom: 3px;
  }

  position: relative;
  list-style: none;
}

li::before {
  position: absolute;
  left: -1rem;
  content: '\2013';
}

h3 ~ ul li p ~ p {
  color: $neutral600;
  font-size: 14px;
}

h2[id] + ul,
p + .code-block {
  margin-top: 15px;
}
