table {
  margin-top: 3rem;
  font-size: 14px;

  tr td:first-child {
    color: $green600;
    font-weight: 500;
  }

  thead {
    background-color: #fff;
  }

  td {
    font-family: var(--code-font);
    border-bottom: 1px solid color-mod(black alpha(5%));
    padding: 8px 8px;
    text-align: left;
  }

  th {
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
