.props-heading {
  margin-top: 50px;
  color: hsl(330, 72%, 35%);
  font-weight: 600;
  background-color: rgba(192, 192, 192, 0.21);
  display: inline-block;
  clear: both;
  padding: 12px 10px !important;
  border-radius: 3px;
  font-size: 14px;
  letter-spacing: 0;
  font-family: var(--code-font);
  border-bottom: 1px solid #3535351a;
  width: 100%;
  text-indent: 3px;
  cursor: default;

  &,
  table {
    transition: all 0.3s ease-out;
  }

  .attr-name {
    color: var(--primary);
  }

  &:hover {
    background-color: rgba(192, 192, 192, 0.31);

    & + table,
    + p + table,
    + div + table {
      background-color: rgba(192, 192, 192, 0.06);
    }
  }
}
