body {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

a {
  color: inherit;
}

@font-face {
  font-family: 'Sharon Sans';
  font-weight: normal;
  src: url('./webfonts/SharonSans-Regular.woff2') format('woff2'),
    url('./webfonts/SharonSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Sharon Sans';
  font-weight: 600;
  src: url('./webfonts/SharonSans-Medium.woff2') format('woff2'),
    url('./webfonts/SharonSans-Medium.woff') format('woff');
}
