:root {
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: var(--font-text);
  text-transform: none;
  font-weight: 400;
  font-style: normal;
}

html {
  background: var(--bg-color);
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

body {
  transition: opacity 0.2s ease-out;
  opacity: 1 !important;
}

ol,
ul {
  padding-left: 1.2em;
}
